IPy
rich
ipaddress
python-whois
art
html5lib
colorama
ruamel.yaml
dnspython
folium
asyncwhois
coloredlogs
verboselogs
colored
bs4
tqdm
user-agent
load_xl
shodan
wget
proxy-ninja-ng
emoji
aslookup
tldextract
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability